<div id="projects" class="content_block">
	<ul id="sub_nav">
		<li><%= link_to "Ko's Journey", "", "data-link" => "kos_journey" %></li>
		<li><%= link_to "Core Reaction", "", "data-link" => "core_reaction" %></li>
		<li><%= link_to "Empires", "", "data-link" => "empires" %></li>
		<li><%= link_to "Biggest Story Problem", "", "data-link" => "bsp" %></li>
		<li><%= link_to "Quest for Furs", "", "data-link" => "qff" %></li>
	</ul>
	<ul id="vert_scroller">
		<li id="kos_journey" class="panel first ko">
			<!-- <div class="sub_nav">
				<ul>
					<li>Ko's Journey</li>
				</ul>
			</div> -->
			<div class="image_wrap">
				<%= image_tag("/images/projects/ko.png") %>
			</div>
			<div class="copy_wrap">
				<h1>Ko's Journey</h1>
				<h2>America's Favorite Math Game</h2>
				<p>
					Award-winning <span class="italic">Ko’s Journey</span> uses the engaging power of a virtual world to send middle school students on an ancient rite-of-passage filled with purpose, meaningful math that makes sense in the context of the story. For example, Ko must save a sick wolf pup by mixing medicines in specific ratios. Ko's Journey is aligned with the critical areas of the Common Core State Standards for 6th &#38; 7th grade.
				</p>
				<p class="link">
				  <%= link_to "www.kosjourney.com", "http://www.kosjourney.com" %>
				</p>
			</div>
		</li>
		<li id="core_reaction" class="panel core">
			<div class="image_wrap">
				<%= image_tag("/images/projects/core.png") %>
			</div>
			<div class="copy_wrap">
				<h1>Core Reaction</h1>
				<h2>Power Your Future</h2>
				<p>
					Imagine Education was contracted by the Energy Solutions Foundation to create the Core Reaction concept, a proactive effort to address the serious projected shortfalls of U.S. students interested, and prepared, for pursuing careers in the nuclear energy field, while at the same time, providing them with a meaningful learning experience aligned with National Science Education Standards.
				</p>
				<p class="link">
				  <%= link_to "http://www.corereaction.org", "www.corereaction.org" %>
				</p>
			</div>
		</li>
		<li id="empires" class="panel empires">
			<div class="image_wrap">
				<%= image_tag("/images/projects/empires.png") %>
			</div>
			<div class="copy_wrap">
				<h1>Empires</h1>
				<h2>A Collaborative Story-based Math Game</h2>
				<p>
					Setting an entirely new standard in socially-networked educational gaming, Empires presents pre-algebra in an appealing, engaging context-rich story. Players are cast in the role of a leader of an ancient Mesopotamian empire, and learn, practice and explore math as they tax their population, allocate resources, trade goats and barter with their fellow students for resources from food to water supplies. 
				</p>
				<p class="link">
					Investor Opportunities - <%= link_to "Contact Us", contact_path %>
				</p>
			</div>
		</li>
		<li id="bsp" class="panel story">
			<div class="image_wrap">
				<%= image_tag("/images/projects/bsp.png") %>
			</div>
			<div class="copy_wrap">
				<h1>The Biggest Story Problem</h1>
				<h2>Independent Documentary Film</h2>
				<p>
					An independent documentary film exploring the middle school math crises in the U.S., from the perspective of one math teacher-turned-game-designer, 15 teachers willing to try something new and hundreds of middle school students from across the country.  
				</p>
				<p class="link">
					<%= link_to "www.thebiggeststoryproblem.com", "http://www.thebiggeststoryproblem.com" %>
				</p>
			</div>
		</li>
		<li id="qff" class="panel quest">
			<div class="image_wrap">
				<%= image_tag("/images/projects/quest.png") %>
			</div>
			<div class="copy_wrap">
				<h1>Quest for Furs</h1>
				<h2>Online Learning Experience</h2>
				<p>
					<span class="italic">Quest for Furs,</span> set in the early 1800s, takes students into the peak years of the fur trade created by the Minnesota Historical Society. From the prospective of a clerk in the North West Company, students acquire goods to trade, and then travel the rivers of Minnesota to an outlying fur post. Students will learn and explore content aligned to education standards for Minnesota history, plus nationally aligned content in language arts, state history, math, and economics.  
				</p>
				<p class="link">
					Anticipated Release Date - TBD
				</p>
			</div>
		</li>
	</ul>
</div>

<% content_for :javascripts do %>
	<script>
   $(function() {
   	Projects.togglePanels();
   	// PanelScroller.verticalScroller();
    // PanelSwitcher.initPanelSwitcher();
   });
	</script>
<% end %>