<div id="projects" class="content_block">
	<ul id="vert_scroller">
		<li class="panel ko">
			<div class="image_wrap">
				<%= image_tag("/images/projects/ko.png") %>
			</div>
			<div class="copy_wrap">
				<h1>KO'S Journey</h1>
				<h2>America's Favorite Math Game</h2>
				<p>
					<span class="italic">Ko’s Journey</span> uses the engaging power of video games to send middle school students on an ancient rite-of-passage journey filled with purposeful, meaningful math -- and perfectly aligned with the Common Core State Standards.
				</p>
				<p class="link">
				  <%= link_to "http://www.kosjourney.com", "www.kosjourney.com" %>
				</p>
			</div>
		</li>
		<li class="panel core">
			<div class="image_wrap">
				<%= image_tag("/images/projects/core.png") %>
			</div>
			<div class="copy_wrap">
				<h1>Core Reaction</h1>
				<h2>Power Your Future</h2>
				<p>
					Core Reaction is a multi-player game created to be a proactive effort to address the serious projected shortfalls of U.S. students interested, and prepared, for pursuing careers in the nuclear energy field.
				</p>
				<p class="link">
				  <%= link_to "http://www.corereaction.org", "www.corereaction.org" %>
				</p>
			</div>
		</li>
		<li class="panel empires">
			<div class="image_wrap">
				<%= image_tag("/images/projects/empires.png") %>
			</div>
			<div class="copy_wrap">
				<h1>Empires</h1>
				<h2>The First Socially Networked Math Game</h2>
				<p>
					Story-based, strategic and collaborative, Empires will set an entirely new standard in educational gaming. Players are cast in the role of a leader of an ancient Mesopotamian empire, and find themselves consistently using pre-algebra in a meaningful context, as they tax their population, allocate resources, trade goats and barter with their fellow students for resources from food to water supplies. 
				</p>
				<p class="link">
					Investor Opportunities - <%= link_to "Contact Us", contact_path %>
				</p>
			</div>
		</li>
	</ul>
</div>

<% content_for :javascripts do %>
	<script>
   $(function() {
   		//PanelScroller.verticalScroller();
     PanelSwitcher.initPanelSwitcher();
   });
	</script>
<% end %>