<div id="projects" class="content_block">
	<ul id="vert_scroller">
		<li class="panel ko">
			<div class="image_wrap">
				<%= image_tag("/images/projects/ko.png") %>
			</div>
			<div class="copy_wrap">
				<h1>KO'S Journey</h1>
				<h2>America's Favorite Math Game</h2>
				<p>
					<span class="italic">Ko’s Journey</span> uses the engaging power of video games to send middle school students on an ancient rite-of-passage journey filled with purposeful, meaningful math -- and perfectly aligned with the Common Core State Standards.
				</p>
				<p class="link">
				  <%= link_to "http://www.kosjourney.com", "www.kosjourney.com" %>
				</p>
			</div>
		</li>
		<li class="panel core">
			<div class="image_wrap">
				<%= image_tag("/images/projects/core.png") %>
			</div>
			<div class="copy_wrap">
				<h1>Core Reaction</h1>
				<h2>Power Your Future</h2>
				<p>
					Core Reaction is a multi-player game created to be a proactive effort to address the serious projected shortfalls of U.S. students interested, and prepared, for pursuing careers in the nuclear energy field.
				</p>
				<p class="link">
				  <%= link_to "http://www.corereaction.org", "www.corereaction.org" %>
				</p>
			</div>
		</li>
		<li class="panel empires">
			<div class="image_wrap">
				<%= image_tag("/images/projects/empires.png") %>
			</div>
			<div class="copy_wrap">
				<h1>Empires</h1>
				<h2>The First Socially Networked Math Game</h2>
				<p>
					Story-based, strategic and collaborative, Empires will set an entirely new standard in educational gaming. Players are cast in the role of a leader of an ancient Mesopotamian empire, and find themselves consistently using pre-algebra in a meaningful context, as they tax their population, allocate resources, trade goats and barter with their fellow students for resources from food to water supplies. 
				</p>
				<p class="link">
					Investor Opportunities - <%= link_to "Contact Us", contact_path %>
				</p>
			</div>
		</li>
		
		<li class="panel story">
			<div class="image_wrap">
				<%= image_tag("/images/projects/bsp.png") %>
			</div>
			<div class="copy_wrap">
				<h1>The Biggest Story Problem</h1>
				<h2>Independent Documentary Film</h2>
				<p>
					The documentary interweaves the story of Scott Laidlaw, creator of Ko’s Journey, an innovative online story-based math game; the stories of teachers and schools taking part in a pilot program using Ko’s Journey to increase student engagement in math; and the broad-based story of math education in the United States, contrasting it to countries, such as Finland, that consistently score in the top tier of the OCED.  The central message to the story is that our country is failing in math, and that may come down to a simple lack of meaning and purpose.  
				</p>
				<p class="link">
					<%= link_to "www.thebiggeststoryproblem.com", "http://www.thebiggeststoryproblem.com" %>
				</p>
			</div>
		</li>
		<li class="panel quest">
			<div class="image_wrap">
				<%= image_tag("/images/projects/quest.png") %>
			</div>
			<div class="copy_wrap">
				<h1>Quest for Furs</h1>
				<h2>Online Learning Experience</h2>
				<p>
					Quest for Furs, set in the early 1800s, takes students into the peak years of the fur trade in Minnesota. From the prospective of a clerk in the North West Company, students acquire goods to trade, and then travel the rivers of Minnesota to an outlying fur post. After arriving at the Fur Post, students trade with the Ojibwe people, and must then make their way back to Fort William. 
				</p>
				<p class="link">
					Anticipated Release Date - TBD
				</p>
			</div>
		</li>
	</ul>
</div>

<% content_for :javascripts do %>
	<script>
   $(function() {
   		//PanelScroller.verticalScroller();
     PanelSwitcher.initPanelSwitcher();
   });
	</script>
<% end %>