<ul class="listed_nav main_nav">
  <li><%= link_to "Accounts", accounts_path %></li>
  <li><%= link_to "Teachers", teachers_path %></li>
  <li><%= link_to 'Students', students_path %></li>
</ul>

<ul class="secondary listed_nav main_nav">
  <li><%= link_to "Subscriptions", subscriptions_path %></li>
  <li><%= link_to 'Plans', subscription_plans_path %></li>
  <li><%= link_to 'Lesson Templates', ko_lesson_templates_path %></li>
  <li><%= link_to 'Email List', email_lists_path %></li>
  <li><%= link_to 'Special Codes', discount_codes_path %></li>
  <li><%= link_to 'User Videos', user_videos_path %></li>
</ul>
