<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <%= render :partial => 'layouts/admin/admin_headmeta' %>
  </head>

  <body id="admin" class="admin">
  
    <%# Flash Notice %>
    <%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>
  
    <%# Header %>
    <div id="mast_header" class="content_wrapper">
      <div id="hd" class="internal_content_wrapper">
        <%= link_to "Kos Journey", root_url, :id => "logo" %>
        <% if current_admin %>
          <%= link_to "Log Out", admin_logout_path, :method => :delete, :class => "logout button red_button" %>
        <% end %>
        <%= clear %>
      </div>
      <%= clear %>
    </div>
    <%= clear %>
  
    <%# Main Content %>
    <div id="mast_bd" class="content_wrapper">
      <div id="ajax_status">
        <%= image_tag "ajax-loader.gif" %>
        Loading...
      </div>
      <div id="bd" class="internal_content_wrapper admin_content_wrapper">
        <div id="player_wrap"><div id="player"></div></div>
        <h1 id="page_header" class="bottom_hr">Admin Control Panel</h1>
        <%= clear %>
        <div id="sidebar">
          <%= render :partial => "layouts/admin/admin_nav" %>
        </div>
        <div id="main_content">
          <%= yield %>
        </div>
        <%= clear %>
      </div>
      <%= clear %>
    </div>
    <%= clear %>
  
    <%= render :partial => "layouts/cdn_scripts" %>
    <%= render :partial => "layouts/admin/admin_scripts" %>
  </body>

</html>
