<h3 class="title">Core Design Team</h3>
<li>
	<ul id="about">
		<li class="sub_title">
			Imagine Education
		</li>
		<li>
			Scott Laidlaw
		</li>
		<li>
			Jennifer Harris
		</li>
	</ul>
	<ul id="about">
		<li class="sub_title">
			BNP Games
		</li>
		<li>
			Ken Moore
		</li>
		<li>
			Craig Crossley
		</li>
	</ul>
	<ul id="about">
		<li class="sub_title">
			Alpine Studios
		</li>
		<li>
			Les Pardew
		</li>
		<li>
			Aaron Anderson
		</li>
	</ul>
	<ul id="about">
		<li class="sub_title">
			Venado Partners, LLC
		</li>
		<li>
			Loren Johnson
		</li>
	</ul>
</li>
<h3 class="title">Script</h3>
<li>
	<ul id="about">
		<li>
			<%= link_to "Scott Laidlaw, CEO & Game Designer", "http://www.imagineeducation.org/about/" %>
		</li>
		<li>
			<%= link_to "Jennifer Harris, CFO & Executive Producer", "http://www.imagineeducation.org/about/" %>
		</li>
		<li>
			<%= link_to "Deborah Evans, Communications Manager", "http://www.imagineeducation.org/about/" %>
		</li>
		<li>
			Closing Story &ndash; Adapted from Cherokee<br />Rite of Passage
		</li>
		<li>
			Copyright Imagine Education
		</li>
	</ul>
</li>
<h3 class="title">Programming</h3>
<li>
	<ul id="about">
		<li>
			<%= link_to "Ken Moore, Lead Programmer/Game Designer", "http://http://www.bnpgames.com/" %>
		</li>
		<li>
			Lorin Cook, Lead intro/Outro Developer
		</li>
		<li>
			Loren Johnson, Lead Web Developer
		</li>
		<li>
			Rachelle Pinkerton, Programmer
		</li>
		<li>
			Shawn Shimizu, Programmer
		</li>
		<li>
			<%= link_to "Craig Crossley, Programmer", "http://http://www.ccrossley.com/resume.html" %>
		</li>
	</ul>
</li>
<h3 class="title">Art</h3>
<li>
	<ul id="about">
		<li>
			<%= link_to "Les Pardew, Art Director/Game Designer", "http://http://www.mobygames.com/developer/sheet/view/developerId,731/" %>
		</li>
		<li>
			<%= link_to "Aaron Anderson, Lead Artist", "http://http://www.aaronillustrations.com/" %>
		</li>
		<li>
			<%= link_to "Beth Haidle, Concept Art/Spirit Animals", "http://http://www.ehaidle.com/" %>
		</li>
	</ul>
</li>