<h3 class="title">Music &#38; Sound</h3>	
<li>
	<ul id="about">
		<li>
			<%= link_to "Ed Dillon, Lead Music & Sound", "http://www.schoolofrock.com/sandy/staff_school.php" %>
		</li>
		<li>
			<%= link_to "Eric Nunamaker, Voice", "http://www.mobygames.com/developer/sheet/view/developerId,63430/" %>
		</li>
		<li>
			<%= link_to "Manu Delago, Travel Music", "http://www.manudelago.com/eng/home.htm" %>
		</li>
		<li>
			Lorin Cook, Logo Music &#38; Sound Editor
		</li>
	</ul>
</li>
<h3 class="title">Voices</h3>	
<li>
	<ul id="about">
		<li>
			Ko &ndash; Thea Damuag
		</li>
		<li>
			Grandfather &ndash; Steve Cooper
		</li>
		<li>
			Intro Guide &ndash; Jane Maestro-Scherer
		</li>
		<li>
			Travel Guide &ndash; Trina West
		</li>
		<li>
			Arrow Guide &ndash; Lorin Cook
		</li>
		<li>
			Medicine Woman- &ndash;Samanth Olierton
		</li>
		<li>
			Luna of the Night Sky &ndash; Kara Angus
		</li>
		<li>
			Crystal Oasis &ndash; Hudson Marts
		</li>
		<li>
			Secret Circle &ndash; Amanda Maestro-Scherer
		</li>
		<li>
			Mountain Climb &ndash; Gepson Auguste
		</li>
	</ul>
</li>
<h3 class="title">Web Design</h3>	
<li>
	<ul id="about">
		<li>
			<%= link_to "Bob Hanson, Lead Developer", "http://www.cube2media.com/" %>
		</li>
		<li>
			<%= link_to "Larry Finn, Lead Developer", "http://www.cube2media.com/" %>
		</li>
		<li>
			<%= link_to "Paul Du Coudray, Web Advisor", "http://www.readymade.is/" %>
		</li>
		<li>
			<%= link_to "Alex Iglecia, Logo/Web Designer", "http://www.alexiglecia.com/" %>
		</li>
	</ul>
</li>
<h3 class="title">Testers</h3>	
<li>
	<ul id="about">
		<li>
			Chad Bath
		</li>
		<li>
			Cade Harris
		</li>
		<li>
			Tanner Harris
		</li>
		<li>
			Sally McLeod
		</li>
		<li>
			Nikki Moore
		</li>
		<li>
			Dave Neff
		</li>
		<li>
			Grace Vesely
		</li>
	</ul>
</li>
