<div class="footer_nav">
	<ul>
		<header>Ko's Journey</header>
	  <li>
	    <%= link_to "Home", home_path, :class => "nav_link" %>
	  </li>
		<li>
			<%= link_to "Customers", customers_path, :class => "nav_link" %>
		</li>
		<li>
			<%= link_to "Results", results_path, :class => "nav_link" %>
		</li>
		<li>
			<%= link_to "Pricing", pricing_path, :class => "nav_link" %>
		</li>
	</ul>
	
<div class="footer_nav">
	<ul>
		<header>Resources</header>
		<li>
			<%= link_to "Demo", demo_path, :class => "nav_link" %>
		</li>
		<li>
			<%= link_to "Content", content_path, :class => "nav_link" %>
		</li>
		<li>
			<%= link_to "Tracking", lessons_tracking_path, :class => "nav_link" %>
		</li>
		<li>
			<%= link_to "Guide", guide_path, :class => "nav_link" %>
		</li>
	</ul>

	<ul>
		<header>Company</header>
	  <li>
	    <%= link_to "About Us", about_path, :class => "nav_link" %>
	  </li>
		<li>
			<%= link_to "Contact", contact_path, :class => "nav_link" %>
		</li>
		<li>
			<%= link_to "Press", reviews_path, :class => "nav_link" %>
		</li>
		<li>
			<%= link_to "Privacy", privacy_path, :class => "nav_link" %>
		</li>
		<li>
			<%= link_to "FAQ", faq_path, :class => "nav_link" %>
		</li>
	</ul>
</div>