<ul id="main_nav" class="nav">
  <li>
    <%= link_to "Home", home_path, :class => "nav_link" %>
  </li>
	<li>
		<%= link_to "Customers", customers_path, :class => "nav_link" %>
	</li>
	<li>
		<%= link_to "Product", product_path, :class => "nav_link" %>
	</li>
	<li>
		<%= link_to "Results", results_path, :class => "nav_link" %>
	</li>
	<li>
		<%= link_to "Demo", demo_path, :class => "nav_link" %>
	</li>
	<li class="green">
		<%= link_to "Pricing", pricing_path, :class => "nav_link" %>
	</li>
	<li class="green">
		<%= link_to "Login", login_path, :class => "nav_link" %>
	</li>
</ul>