<div id="news">
	<div class="news">
		<h4 class="news_header">
			In the News
		</h4>
		<div class="news_link_header">
			<%= link_to "The Video Game Industry", 'http://www.santafe.com/podcasts/listen/new-mexico-film-works-dec.-3-2011', :title => "Ko's Journey featured on New Mexico Film Office Radio Show" %>
			<p>&ndash; New Mexico Film Office Radio</p>
		</div>
		<%= news_separator %>
		<div class="news_link_header">
			<%= link_to "Cool Tool | Beyond Flashcards: Ko’s Journey", 'http://edtechdigest.wordpress.com/2011/12/21/cool-tool-beyond-flashcards-kos-journey/', :title => "Ko's Journey featured on Ed Tech Digest" %>
			<p>&ndash; EdTech Digest</p>
		</div>
		<%= news_separator %>
		<div class="news_link_header">
			<%= link_to "Gila Vista Piloting the Ko's Journey Game", 'http://www.yumasun.com/news/math-75333-game-students.html', :title => "Gila Vista Piloting the Ko's Journey Game" %>
			<p>&ndash; Yuma Sun</p>
		</div>
		<%= news_separator %>
		<div class="news_link_header">
			<%= link_to "Ko's Journey Receives Grant from Next Generation Learning Challenges", 'http://dl.dropbox.com/u/3105141/C2CDN/Ko/content/Imagine%20Education%20NGLC%20Press%20Release.pdf', :title => "Ko's Journey Receives Grant from Next Generation Learning Challenges" %>
			<p>&ndash; Imagine Education</p>
		</div>
		<div class="news_link_header">
		    	<%= link_to(image_tag("public/grant_logo.png", :alt => "Professional People's Choice Winner"), "http://nextgenlearning.org/the-grants/wave-II-winners", :title => "Professional People's Choice Winner") %>
		</div>
		<%= news_separator %>
		<div class="news_link_header">
		    <%= link_to "Ko's Journey wins People's Choice Award", "http://joanganzcooneycenter.org/Cooney-Center-Blog-140.html", :title => "Professional People's Choice Winner" %>
		<p>&ndash; Joan Ganz Cooney Center Prizes</p>
		</div>
		<div class="news_link_header">
		    <%= link_to(image_tag("public/stem_logo1.png", :alt => "Professional People's Choice Winner"), "http://joanganzcooneycenter.org/Cooney-Center-Blog-140.html", :title => "Professional People's Choice Winner") %>
		</div>
		<%= news_separator %>
		<div class="news_link_header">
			<%= link_to "Educator Creates Computer Math Game", "http://www.sltrib.com/sltrib/home/50688360-76/math-game-laidlaw-lake.html.csp", :title => "Educator Creates Computer Math Game" %>
	    <p>&ndash; Salt Lake Tribune</p>
		</div>
		<%= news_separator %>
		<div class="news_link_header">
			<%= link_to "Boost Middle School Interest in Math", "http://www.ksl.com/?sid=10566260", :title => "Boost Middle School Interest in Math" %>
			<p>&ndash; KSL.com</p>
		</div>
		<%= news_separator %>
		<div class="news_link_header">
			<%= link_to "KDSL and Ko's Journey", "http://kdsl.wordpress.com/2011/03/31/kdsl-and-ko%E2%80%99s-journey/", :title => "Ko's Journey" %>
			<p>&ndash; Know.Do.Serve.Learn</p>
		</div>
		<%= news_separator %>
		<div class="news_link_header">
			<%= link_to "Conquering Math Via New Math Game", "http://www.highbeam.com/doc/1G1-229256207.html?key=01-42160D517E1A1660110F041D06694B2E224E324D3417295C30420B61651B617F137019731B7B1D6B39", :title => "Conquering Math Via New Math Game" %>
			<p>&ndash; The Taos News</p>
		</div>
		<%= news_separator %>
		<div class="news_link_header">
			<%= link_to "Game Engages Students in Math", " http://www.sltrib.com/education/ci_12111754?source=rss", :title => "Game Engages Students in Math" %>
			<p>&ndash; The Salt Lake Tribune</p>
		</div>
		<%= news_separator %>
		<div class="news_link_header">
			<%= link_to "Math Better Than Recess?", "http://www.abc4.com/news/local/story/Math-better-than-recess/_54HeV6I2UiUImEgIgNoVw.cspx", :title => "Math Better Than Recess?" %>
			<p>&ndash; ABC Channel 4 SLC</p>
		</div>
		<%= news_separator %>
		<div class="news_link_header">
			<%= link_to "Teacher Launches Educational Game Company", "http://www.financenewmexico.org/articles/starting-or-growing-a-business/new-mexico-business-resources-aid-launch-of-educational-games-company/", :title => "Teacher Launches Educational Game Company" %>
			<p>&ndash; Finance New Mexico</p>
		</div>
	</div>
</div>
