<h2 class="public left">Listen to the experts  that love Ko's Journey.</h2>
<%= clear %>
<div class="column_3">
	<div class="testimonial_details">
		<%= image_tag('public/testimonial1.png', :class => "testimonial") %>
		<p class="testimonial">
			“I give Ko’s Journey a 10… 10… 9!” 
		</p>
		<p class="signature">&ndash;Students at Tse Ai Bit School, Shiprock, NM</p>
	</div>
</div>	
<div class="column_3">
	<div class="testimonial_details">
		<%= image_tag('public/testimonial2.png', :class => "testimonial") %>
		<p class="testimonial">
			Ko's Journey is such a fun way to learn math, it draws the whole family to participate!”
		</p>
		<p class="signature">&ndash;Alisa Moreford, Homeschool Parent</p>
	</div>
</div>
<div class="column_3">
	<div class="testimonial_details">
		<%= image_tag('public/testimonial3.png', :class => "testimonial") %>
		<p class="testimonial">
			“The Oregon Trail of Math Games.”
		</p>
		<p class="signature">&ndash;Kevin Simpson, Global Education Consultant</p>
	</div>
</div>
</div>	
<div class="full_row">
<div class="column_3">
	<div class="testimonial_details">
		<%= image_tag('public/testimonial4.png', :class => "testimonial") %>
		<p class="testimonial">
			“Ko's Journey takes pain to play again and shows how math exists in the world.”
		</p>
		<p class="signature">&ndash;Julie Young, CEO &#38; President<br /> Florida Virtual School</p>
	</div>
</div>
<div class="column_3">
	<div class="testimonial_details">
		<%= image_tag('public/testimonial5.png', :class => "testimonial") %>
		<p class="testimonial">
			"I think they’re enjoying math a lot more, they’re learning math without realizing that they’re learning math."
		</p>
		<p class="signature">&ndash;Brian Azriel, Math Teacher<br />Gila Vista Junior High School, Yuma Az</p>
	</div>
</div>
<div class="column_3">
	<div class="testimonial_details">
		<%= image_tag('public/testimonial6.png', :class => "testimonial") %>
		<p class="testimonial">
			"The most rewarding part for me about the game was hearing my students say, 'Yes!' with such enthusiasm".
		</p>
		<p class="signature less">&ndash;Jorge Reyes, Hollenbeck Middle School<br />Los Angeles, CA </p>
	</div>
</div>