<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <%= render :partial => 'layouts/application/headmeta' %>
  </head>

  <body id="application">
  
    <%# Flash Notice %>
    <%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>
  
    <%# Header %>
    <div id="mast_header" class="content_wrapper">
      <div id="hd" class="internal_content_wrapper">
        <%= link_to "Imagine Education", root_url, :id => "logo" %>
      </div>
    </div>
    <%= clear %>
  
    <%# Main Content %>
    <div id="mast_bd" class="content_wrapper">
      <div id="ajax_status">
        <%= image_tag "ajax-loader.gif" %>
        Loading...
      </div>
      <div id="bd" class="content_wrapper">
        <%= link_to "Not Affiliated with Imagine Learning", "http://www.imaginelearning.com", :target => "_blank", :id => "imaginelearning" %>
        <div id="top_bar" class="bar"></div>
        <%= yield %>
        <div id="bottom_bar" class="bar">
          <%= render :partial => "layouts/footer_nav_left" %>
          <span id="footer_logo"></span>
          <%= render :partial => "layouts/footer_nav_right" %>
        </div>
    		<%= clear %>
      </div>
    </div>
  
    <%# Footer %>
    <div id="mast_footer" class="content_wrapper">
      <span id="copyright">&copy; Imagine Education 2012. All Rights Reserved</span>
    </div>
    <%= render :partial => "layouts/cdn_scripts" %>
    <%= render :partial => "layouts/application/scripts" %>
    <%= render :partial => "layouts/application/google_analytics" %>
  </body>
</html>
