<%  
  if current_teacher
    current_logout_path = teacher_logout_path
  else
    current_logout_path = student_logout_path
  end
%>
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <%= render :partial => 'layouts/internal/internal_headmeta' %>
  </head>

  <body id="internal" data-userid="<%= current_student.id if current_student %>">
  
    <%# Flash Notice %>
    <%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>
  
    <%# Header %>
    <div id="mast_header" class="content_wrapper">
      <div id="hd" class="internal_content_wrapper">
        <%= link_to "Kos Journey", root_url, :id => "logo" %>
        <% unless current_admin %>
          <%= link_to "Log Out", current_logout_path, :method => :delete, :class => "logout button red_button" %>
        <% end %>
        <% if current_admin %>
          <%= link_to "Back to Dashboard", :back, :class => "logout button blue_button" %>
        <% end %>
      </div>
    </div>
    <%= clear %>

    <%# Main Content %>
    <div id="mast_bd" class="content_wrapper">
      <div id="ajax_status">
        <%= image_tag "ajax-loader.gif" %>
        Loading...
      </div>
      <div id="bd" class="internal_content_wrapper admin_content_wrapper">
	       <%= render :partial => 'layouts/player_divs' %>
	       <%= clear %>
        <%= yield %>
      </div>
    </div>
    <%= clear %>
    <%= yield :overlays %>
    <%= render :partial => "layouts/cdn_scripts" %>
    <%= render :partial => "layouts/internal/internal_scripts" %>
  </body>

</html>
